@font-face {
  font-family: 'DMF Cantell';
  src: url('DMFCantell.ttf');
}
@font-face {
  font-family: 'DK Trollslayer';
  src: url('DKTrollslayer.ttf');
}

.content {
  color: #030F00;
  font-family: 'DMF Cantell';
}
.content .shivs {
  font-family: 'DK Trollslayer';
  margin-top: 10px;
  font-size: 28px;
  color: rgb(255, 17, 0);
}
.content .bullet .incremental {
}
h1 {
  font-size: 80px;
  color: #1F0957;
  font-family: 'DK Trollslayer';
}
.content .smalla {
  font-size: 64px;
  color: #F52314;
  font-family: 'DK Trollslayer';
}
h2 {
  font-size: 64px;
  color: #030F00;
}
h3 {
  font-size: 64px;
  font-family: monospace;
  color: #5E7D24;
}
h5 {
  color: #D3C15B;
}
.slide {
    padding-top: 0px;
    width: 1020px;
    height: 800px;
    background-color: #DBDAD0;
    border: none
}
#preso {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#preso, .center {
    top: 1%;
    width: 1020px;
    height: 800px;
    margin-top: 1%;
}
.content .devil {
  font-family: 'Devil Inside';
  font-size: 214px;
  line-height: 100px;
}
.content .light {
  color: #FAFFC9;
}
.wordmark img {
  height: 60px;
}
.content .spacer {
  height: 40px;
}
code {
  font-size: 48px;
}

.content .incremental {
  font-size: 30px;
}
img[alt=git-beyond] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

img[alt=git-bg] {
  width: 700px;
  height: 500px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  bottom: 10px;
}


img[alt=linus] {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 25px;
}

code {
    font-family: monospace;
    font-size: 18pt;
    color: white;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}
